// .trading {
//   display: flex;
//   flex-direction: column;
//   gap: 30px;
//   align-items: center;
// }

.trading-container {
  margin: 0 15px;
  min-width: 300px;
  min-height: 300px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border: 1px solid gray;

  position: relative;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  transition: all 0.4s ease;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);

  &:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }
}

.buttons {
  display: flex;
  gap: 5px;
  align-self: flex-start;

  & .link {
    color: black;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
}

.prices {
  display: flex;
  gap: 50px;
}
