.table {
  border: 1px solid #eee;
  table-layout: fixed;
  & th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
  }
  & td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
  }
  & tbody tr:nth-child(odd) {
    background: #fff;
  }
  & tbody tr:nth-child(even) {
    background: #f7f7f7;
  }
}
